@media (max-width: 700px) {
    /*<----- Header ----->*/
    .header__contacts {
        text-align: center;
    }

    .header__btn {
        float: none;
        display: block;
    }

    .header__btn::before {
        display: none;
    }

    .header__btn-menu {
        display: block;
    }

    .menu ul {
        display: none;
        margin-top: 20px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 50;
    }
    
    .menu li {
        display: block;
        text-align: center;
        background-color: #ffc222;
    }

    .menu a {
        display: block;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .menu li + li {
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    /*<----- Header ----->*/
    .header__btn::before {
        display: block;
    }
}

@media (max-width: 375px) {
    /*<----- Header ----->*/
    .header__email {
        padding-right: 30px;
    }
}

@media (min-width: 700px) {
    /*<----- Header ----->*/
    .menu ul {
        display: block !important;
    }
}