* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*<----- Fonts ----->*/
@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/../fonts/../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/../fonts/../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif Regular';
    src: url('../fonts/../fonts/PTSerif-Regular.eot');
    src: url('../fonts/../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Regular.woff') format('woff'),
    url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif Bold';
    src: url('../fonts/../fonts/PTSerif-Bold.eot');
    src: url('../fonts/../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSerif-Bold.woff') format('woff'),
    url('../fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/../fonts/Roboto-Thin.eot');
    src: url('../fonts/../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/../fonts/Roboto-Regular.eot');
    src: url('../fonts/../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/../fonts/Roboto-Medium.eot');
    src: url('../fonts/../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma Regular';
    src: url('../fonts/../fonts/Tahoma.eot');
    src: url('../fonts/../fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Tahoma.woff') format('woff'),
    url('../fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*<----- Header ----->*/
header {
    font-family: 'Roboto Regular', sans-serif;
}

.header__top {
    background-color: #303030;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__contacts::after {
    content: '';
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    position: relative;
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone::before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__btn {
    padding: 5px 20px 4px 50px;
    position: relative;
    float: right;
    font-size: 16px;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
}

.header__btn::before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header__content {
    padding: 34px 0 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 0 16px;
    font-size: 16px;
    line-height: 36px;
    color: #323232;
    border: 1px solid transparent;
    transition: all .3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 10px;
}

/*<----- Slider ----->*/
.slider {
    background: url('../images/slider-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 500px;
    position: relative;
    z-index: 1;
}

.slider::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.slider__inner {
    position: relative;
}

.slider__item {
    outline: none;
}

.slider__item-content {
    max-width: 665px;
    margin: 0 auto;
    padding-top: 110px;
    text-align: center;
}

.slider__title {
    margin-bottom: 22px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slider__text {
    margin-bottom: 50px;
    font-family: 'PT Serif Regular', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    text-align: center;
}

.default-btn {
    padding: 8px 30px 8px 24px;
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    outline: none;
}

.default-btn::after {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.slick-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70%;
    z-index: 3;
    border: 1px solid #fff;
    background-color: #ffc222;
    outline: none;
    cursor: pointer;
}

.slick-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
}

.slick-next {
    right: 0;
}

.slick-next::before {
    content: "\f105";
    font-family: 'icomoon';
}

.slick-prev {
    left: 0;
}

.slick-prev::before {
    content: "\f104";
    font-family: 'icomoon';
}

/*<----- Services ----->*/
.services {
    padding: 50px 0 30px;
}

.services__top {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.services__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services__title-box::before {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    top: 11px;
    left: 0;
    background-color: #ffc222;
}

.services__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    color: #212020;
}

.services__text {
    font-family: 'PT Serif Regular', sans-serif;
    letter-spacing: 0.14px;
}

.services__btn a {
    padding: 5px 38px;
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    border: 3px solid #e6e6e6;
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    max-width: 360px;
    min-height: 375px;
    padding: 30px 0 80px;
    position: relative;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
}

.services__item-title {
    padding: 24px 0;
    font-size: 18px;
    line-height: 24px;
    color: #212020;
}

.services__item-text {
    padding: 0 30px 30px;
    letter-spacing: 0.1px;
    color: #5e5e5e;
}

.services__item-links {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item-links .default-btn {
    color: #373636;
}

.services__item-links .default-btn::after {
    color: #fff;
}

.services__item-link {
    margin-right: 50px;
    color: #050505;
    border-bottom: 1px solid #050505;
}

/*<----- About ----->*/
.about {
    background: url('../images/about-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    z-index: 1;
}

.about::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.about__inner {
    max-width: 545px;
    padding: 25px 0 45px;
}

.about__title {
    padding: 10px 0 35px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}

.about__text {
    padding-bottom: 20px;
    font-family: 'PT Serif Regular', sans-serif;
    font-size: 16px;
    color: #f9f9f9;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.default-btn.about-btn::after {
    color: #000;
}